<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <string name="native_ctrl">
        {exe=1},{withBanner=0},{withNgs=1},{admob=100},{facebook=-1},{admob_an=10000}
    </string>
    <string name="banner_ctrl">{exe=1},{admob=100},{facebook=-1},{fbn=-1}</string>
    <string name="ad_ctrl">
        {ad_delay=0},{ngsorder=before:0|1:999|adt:2000|adtype=0},{ngsorder:admob=before:2|1:999|adt:0|adtype=0},{ngspit=fake_x:0|fake_click:0|hide_x:0|hide_close:0},{banner_click=100},{native_click=100},{ngs_click=100},{home_delay_time=5000},{ad_silent=0}
    </string>
    <string name="resume_ctrl">{exe=0}</string>
    <string name="ngs_ctrl">{exe=1},{admob=100},{facebook=-1},{fbn=-1}</string>
    <string name="banner_ids">
        {admob=ca-app-pub-7826327463800279/4966881728},{fb=410538196046267_410541032712650}
    </string>
    <string name="admob_full_ids">
        {count=2},{id1=ca-app-pub-7826327463800279/5970995723,全屏},{id2=ca-app-pub-7826327463800279/1031506147,高}
    </string>
    <string name="fb_full_ids">{count=1},{id1=410538196046267_410538569379563,全屏}</string>
    <string name="fbn_full_ids">{count=1},{id1=858073531025208_858074377691790,全屏}</string>
    <string name="fbn_banner_ids">{count=1},{id1=858073531025208_858074377691790,全屏}</string>

    <string name="admob_an_ids">
        {count=3},{id1=ca-app-pub-7826327463800279/5943075564,首页},
        {id2=ca-app-pub-7826327463800279/8186095521,拨号},
        {id3=ca-app-pub-7826327463800279/8186095521,结束}
    </string>
    <string name="fb_native_ids">{count=3},{id1=410538196046267_410540699379350,首页},
        {id2=410538196046267_410540782712675,拨号},
        {id3=410538196046267_410540782712675,结束}
    </string>
    <string name="splash_ctrl">
        {exe=1},{fb=410538196046267_410540782712675},{admob=ca-app-pub-7826327463800279/8186095521}
    </string>
    <string name="video_ids">{admob=ca-app-pub-7826327463800279/2421922515}</string>
    <string name="vungle_ids">{app_id=5a57690d3610bbb6710177ac},{count=2}
        ,{id1=DEFAULT72327,default},{id2=2FSE16B47732,id}
    </string>
    <stting name="video_ctrl">{exe=1},{admob=100},{vungle=100}</stting>
    <string name="native_size">{count=3},{id1=320,80},{id2=320,80}，{id3=-1,-2}
    </string>
    <string name="custom_ctrl">
        {show_enter_full=0}
        ,{show_home_native=0}
        ,{show_callend_native=0}
        ,{show_dial_native=0}
        ,{show_random_full_video=0}
        ,{video_btn_time_interval=5}
        ,{enter_charge_full=0}
        ,{enter_call_end=0}
        ,{checkin_end=0}
    </string>
</map>
